@model IEnumerable<InterviewSample.Models.Addresses>

@{
    ViewData["Title"] = "All addresses";
}
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h2>The addresseess</h2>
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Search:</div>
            <div class='col-md-4'>
                <input type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6' *ngIf='listFilter'>
                <h3>Searching: </h3>
            </div>
        </div>

        <!-- table -->
        <div class='table-responsive'>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayName("Address 1 ")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddressLine2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StateCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Zip)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddressLine1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddressLine2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StateCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zip)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Addresses" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-controller="Addresses" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-controller="Addresses" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>